@using Microsoft.CodeAnalysis.CSharp.Syntax
@model IEnumerable<AnabelTrivia.Data.Question>

@{
    ViewData["Title"] = "Index";
}

<h1>Pick a Category</h1>
@foreach (var cat in ViewBag.Categories)
{
    <a class="btn btn-primary" asp-controller="Home" asp-action="Random" asp-route-category="@cat">
        <i class="icon icon-ok"></i>
        @cat
    </a>
}